.profile-page {
  max-width: 1200px;
  margin: 2rem auto;
  font-family: "Segoe UI", sans-serif;
  padding: 1rem;
}

.profile-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

.profile-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.card-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 12px;
}

.card-header h3,
.card-header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #444;
}

.card-header p {
  margin: 0.3rem 0;
  color: #777;
}

.edit-button {
  background: #cc3c3c;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  gap: 4px;
}

.profile-image-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #cc3c3c33;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.profile-info {
  text-align: left;
}
.card-content {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.card-content > div {
  font-size: 1rem;
  max-width: 600px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.card-content strong {
  display: inline-block;
  min-width: 140px;
  color: #333;
}

input,
select,
textarea {
  margin-left: 10px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  flex-grow: 1;
  min-width: 200px;
  background-color: #fdfdfd;
}

textarea {
  resize: vertical;
  width: 100%;
  margin-left: 0;
  margin-top: 0.4rem;
  resize: none;
}

.edit-buttons {
  display: flex;
  gap: 1rem;
}

.cancel-btn,
.save-btn {
  padding: 8px 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #888;
  color: white;
}

.save-btn {
  background-color: #28a745;
  color: white;
}

@media (max-width: 600px) {
  .profile-avatar {
    width: 60px;
    height: 60px;
  }

  .card-content strong {
    min-width: 100px;
  }

  input,
  select {
    width: 100%;
    margin: 0.5rem 0 0 0;
  }

  .card-content {
    flex-direction: column;
  }

}
